*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #12232E;
}
header{
    background-color: black;
}
#logo{
    width: 100px;
}
h1{
    text-align: center;
    color: #b6b620;
}
#submit{
    background-color: #4DA8DA;
}
.container{
    margin-top: 100px;
}
.row{
    margin-top: 20px;
}
.card{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 400px 210px ;
    grid-template-areas: "image" "text";
    background: #1d1d1d;
    font-family: "Roboto Light" ;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: justify;
    color: #EEFBFB;
    transition: 0.5ms;
    cursor: pointer;
    margin: 50px 15px;

}
/*.rgb::after{*/
/*    content: '';*/
/*    background: linear-gradient(45deg, #ff0000 0%, #ff9a00 10%, #d0d321 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%);*/
/*    inset: -3px;*/
/*    border-radius: 16px;*/
/*    filter: blur(8px);*/
/*    animation: rgb 6s linear infinite;*/
/*}*/
/*@keyframes rgb {*/
/*    0% {background-position: 0 50%;}*/
/*    50% {background-position: 100% 50%;}*/
/*    100% {background-position: 0 50%;}*/
/*}*/
.card:hover{
    transform: scale(1.2);
}
.card-image{
    grid-area: image;
    background: linear-gradient(#fff0 0, #fff0 70%, #1d1d1d 100%), url("./images/avatar.jpeg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 15px;

}
h4{
    margin: 10px;
    font-weight: bold;
}
p{
    margin: 10px;
}

.btn-sm{
    background-color: #7b7b7b;
    margin: 30px 0 0 10px;
}
.btn-sm:hover{
    background-color: #B73225;
}
#banner {
    width:auto;
    height:100px;


}